# Copyright (c) 2023 Satellogic USA Inc. All Rights Reserved.
#
# This file is part of Spotlite.
#
# This file is subject to the terms and conditions defined in the file 'LICENSE',
# which is part of this source code package.

# Python
venv/
config.py
__pycache__/

# These are are for catching invalid Tiles.
invalid_outcome_ids/

# These are private to be obtained from Google Developer Console.
token*
client_secret*

# Logs
log/

# MAC OSX
.DS_Store

# Obsidian
.obsidian/

# VS Code
.vscode/

# Doxygen
docs/html/

# Input-Output Files
*.json
*.geojson
*.html
*.HTML
*.TIFF
*.tiff
*.PNG
*.png
*.GIF
*.gif

# Exclude Folders
images/
maps/
search_results/
points_to_monitor/

# Exclude Test Files
*test*

#Exclude Package .egg-info files
spotlite.egg-info/
